:root {
    --cor-fundo-principal: #B0C4DE;
    --cor-texto-principal: #333333;
    --cor-fundo-superior-inferior: #0054b9;
    --cor-fundo-superior-inferior-dark: #003f7f;
    --cor-texto-superior-inferior: #ffffff;
    --cor-fundo-grade-td: #fafafa;
}